<div class="wrapper">
    <div class=".page-header">
    </div>
    <div class="main">
        <div class="section">
            <div id="typography">
                <div class="row">
                    <div class="typography-line">
                        <h1>
                            Bienvenue dans votre jardin {{garden.name}}
                        </h1>
                    </div>
                    {{garden.plants.name}}
                </div>
            </div>
        </div>
    </div>
</div>